.page-header h1 {
  font-size: 54px;
  margin-bottom: 5px;
}

#psd-drop {
  background-color: #F7F7F9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px dashed #E1E1E8;
  width: 100%;
}

#psd-drop h2 {
  line-height: 200px;
  text-align: center;
}

#demo .span12 {
  padding-bottom: 20px
}

#image-output > img {
  max-width: 620px;
}

#output {
  padding-bottom: 20px;
}

#result {
  position: relative;
}

#result .layer {
  position: absolute;
  cursor: pointer;
  border: 1px #333333 solid;
  background-color: rgba(255, 255, 255, 0.05);
}

#result .layer:hover {
  background-color: rgba(255, 255, 255, 0.5);
}